# Intellij Idea project files
.idea

# gradle config
.gradle

# project binaries
/build
/out
/classes
/config

# test dirs
/target
*.yml

# mac os x
.DS_Store

# netbeans
.nb-gradle
.nb-gradle-properties

# logs
*.log